<div>

<h1>Ask a question</h1>
<form action="/answer">
  <p>Ask your coach anything</p>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
<p>Find me in app/views/pages/about.html.erb</p>
